@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

:root {
    --hero_bg: #F3EED9;
    --sec_clr: #824936;
    --ter_clr: #222C2A;

    --main-font : 'Roboto', sans-serif;
    --title-font: 'Playfair Display', serif;
}



*,
*::before,
*::after {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size  : 18px;
    font-weight: 400;
}

.font--playfair {
    font-family: 'Playfair Display', serif;
    font-size  : 2rem;
    font-weight: 900;
}